test_intel64
log
CMakeCache.txt
CMakeFiles
Makefile
config.status
Makefile.vars
cmake_install.cmake
install_manifest.txt
cscope.files
cscope.out
nohup.out
core
experiment
perf.data
perf.data.old
oclRecursiveGaussian
.#*
*Tests
*Run
*.gpl
*.dot
*.pdf
*.jpg
*.log
*.slog
*.ORG
*.exe
*.o
*.so
*.a
*.class
*.ptx
*~
*#
*.run
a.out
res.txt
KjcFlexRules.txt
KjcOptions.java
KjcParser.java
KjcScanner.java
KjcTokenTypes.java
KjcTokenTypes.txt
StreamItLex.java
StreamItLex.smap
StreamItLexTokenTypes.java
StreamItLexTokenTypes.txt
StreamItParserFE.java
StreamItParserFE.smap
StreamItParserFETokenTypes.java
StreamItParserFETokenTypes.txt
aa2raw
pam2raw
raw2pam
setup-ffmpeg
oclRecursiveGaussian
